<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if sub_title != 0 %}
            <title>{{title}} {{sub_title}} - {{wiki_name}}</title>
        {% else %}
            <title>{{title}} - {{wiki_name}}</title>
        {% endif %}
        <link rel="stylesheet" href="/views/buma/css/bootstrap-custom.css.cache_v1">
        <link rel="stylesheet" href="/views/buma/css/jquery-ui.min.css.cache_v1">
        <link rel="stylesheet" href="/views/buma/css/fa-svg-with-js.css.cache_v1">
		{{main_head|safe}}
        <link rel="stylesheet" href="/views/buma/css/bulma.css.cache_v1">
        <link rel="stylesheet" href="/views/buma/css/bulma.css.map.cache_v1">
		<link rel="stylesheet" href="/views/buma/css/more.css.cache_v2">
        <link rel="stylesheet" href="/views/buma/css/layout.css.cache_v1">
        <link rel="stylesheet" href="/views/buma/css/plus.css.cache_v2">
        {% if request.cookies.get('main_css_darkmode', '') == '1' %}
            <link rel="stylesheet" href="/views/main_css/css/sub/dark.css.cache_v4">
            <link rel="stylesheet" href="/views/buma/css/dark.css.cache_v5">
        {% endif %}
		<link rel="shortcut icon" href="/image/favicon.ico">
        <script type="text/javascript" src="/views/buma/js/jquery.min.js.cache_v1"></script>
        <script type="text/javascript" src="/views/buma/js/jquery-ui.min.js.cache_v1"></script>
        <script type="text/javascript" src="/views/buma/js/bootstrap.min.js.cache_v1"></script>
        <script type="text/javascript" src="/views/buma/js/layout.js.cache_v1"></script>
        <script type="text/javascript" src="/views/buma/js/all.min.js.cache_v1"></script>
		<script type="text/javascript" src="/views/buma/js/skin_set.js.cache_v2"></script>
		<script src="https://kit.fontawesome.com/de96a6a0bf.js" crossorigin="anonymous"></script>
        {{teplate_var_1|safe}}
        {{user_head|safe}}
        {% if sub_title != 0 %}
            <meta name="title" content="{{title}}{{sub_title}} - {{wiki_name}}">
        {% else %}
            <meta name="title" content="{{title}} - {{wiki_name}}">
        {% endif %}
        <meta name="keywords" content="{{title}}">
        {% if user_path != 0 and user_path == 'w' %}
            <meta name="description" content="{{data|cut_100}}">
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta property="og:type" content="website">
    </head>
    <body class="buma">
        <div id="top" class="nav navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="/" class="navbar-item">{{wiki_logo|safe}}</a>
                <button class="button navbar-burger" data-target="mainNavbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="navbar-menu" id="mainNavbar">
                <div class="navbar-start">
                    <a href="/recent_changes" class="navbar-item">
                        <span class="icon">
                            <i class="fas fa-binoculars"></i>
                        </span> {{'recent_change'|load_lang}}</a>
                    <a href="/recent_discuss" class="navbar-item">
                        <span class="icon">
                            <i class="far fa-comments"></i>
                        </span> {{'recent_discussion'|load_lang}}</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a href="#" class="navbar-link">
                            <span class="icon">
                                <i class="fas fa-cogs"></i>
                            </span> {{'tool'|load_lang}}</a>
                        <div class="navbar-dropdown">
                            <a class="dropdown-item" href="/list/document/all"><span class="fa fa-folder-open"></span><span class="hide-title"> {{'all_document_list'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/list/document/acl"><span class="fa fa-lock"></span><span class="hide-title"> {{'acl_document_list'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/list/document/need"><span class="fas fa-book-open"></span><span class="hide-title"> {{'need_document'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/list/document/long"><span class="fas fa-align-justify"></span><span class="hide-title"> {{'long_page'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/list/document/short"><span class="fas fa-align-left"></span><span class="hide-title"> {{'short_page'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/list/document/old"><span class="fa fa-pause"></span><span class="hide-title"> {{'old_page'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/list/file"><span class="far fa-images"></span><span class="hide-title"> {{'image_file_list'|load_lang}}</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/block_log"><span class="fa fa-low-vision"></span><span class="hide-title"> {{'recent_ban'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/list/user"><span class="fa fa-users"></span><span class="hide-title"> {{'member_list'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/list/admin"><span class="fa fa-user-secret"></span><span class="hide-title"> {{'admin_list'|load_lang}}</span></a>
                            <a class="dropdown-item" href="/list/admin/auth_use"><span class="fa fa-outdent"></span><span class="hide-title"> {{'authority_use_list'|load_lang}}</span></a>
                            {% if user_auth != '0' %}
                                <a class="dropdown-item" href="/manager/1"><i class="fas fa-sliders-h"></i><span class="hide-title"> {{'admin_tool'|load_lang}}</span></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
		<div class="navbar-end">
		<div class="navbar-item">
		<div class="field has-addons">
		<div class="control has-icons-left">
		    <form method="post" action="/search" id="search" role="search">
		    <input id="search_input" class="input is-primary ui-autocomplete-input" name="search" placeholder="{{'search'|load_lang}}" autocomplete="off" type="search">
			<span class="icon is-small is-left">
			    <i class="fas fa-search"></i>
			</span>
		    </div>
		    <div class="control">
		        <button class="button" method="post" type="submit" formaction="/goto"><i class="fas fa-search"></i></button>
		    </div>
		    <div class="control">
		        <a href="/random" class="button" id="wikiGoRandomBtn">
			    <span class="icon">
			        <i class="fas fa-random"></i>
			    </span>
		        </a>
		    </div>
		    </form>
		</div>
	        </div>
                    </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a href="#" class="navbar-link">
				{% if user_login == 1 %}
					<span class="nav-icon">
					<i class="fas fa-user"></i>
					</span> {{user_name}}</a>
				{% else %}
					<span class="nav-icon">
					<i class="fas fa-user-secret"></i>
					</span>Guest</a>
				{% endif %}
							<div class="navbar-dropdown is-right">
								<a href="/user" class="navbar-item">
								<span class="icon">
								<i class="fas fa-tools"></i>
								</span> {{'user_tool'|load_lang}}</a>
								<a href="/change" class="navbar-item">
								<span class="icon">
								<i class="fas fa-user-cog"></i>
								</span> {{'user_setting'|load_lang}}</a>
								{% if user_login == 1 %}
								<a href="/w/user:{{user_ip}}" class="navbar-item">
								<span class="icon">
								<i class="fas fa-user-tag"></i>
								</span> {{'user_document'|load_lang}}</a>
								{% endif %}
								<div class="navbar-divider"></div>
								<a href="/record/{{user_ip}}" class="navbar-item">
								<span class="icon">
								<i class="fas fa-chart-line"></i>
								</span> {{'edit_record'|load_lang}}</a>
								<a href="/record/topic/{{user_ip}}" class="navbar-item">
								<span class="icon">
								<i class="fas fa-chart-bar"></i>
								</span> {{'discussion_record'|load_lang}}</a>
								{% if user_login == 1 %}
								<a href="/watch_list" class="navbar-item">
								<span class="icon">
								<i class="fas fa-highlighter"></i>
								</span> {{'watchlist'|load_lang}}</a>
								<a href="/star_doc" class="navbar-item">
								<span class="icon">
								<i class="fas fa-star"></i>
								</span> {{'star_doc'|load_lang}}</a>
								{% endif %}
								<div class="navbar-divider"></div>
								{% if user_login == 1 %}
								<a href="/logout" class="navbar-item">
								<span class="icon">
								<i class="fas fa-sign-in-alt"></i>
								</span> {{'logout'|load_lang}}</a>
								{% else %}
								<a href="/login" class="navbar-item">
								<span class="icon">
								<i class="fas fa-user-edit"></i>
								</span> {{'login'|load_lang}}</a>
								<a href="/register" class="navbar-item">
								<span class="icon">
								<i class="fas fa-user-plus"></i>
								</span> {{'register'|load_lang}}</a>
                            	{% endif %}
							</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <section class="hero is-primary" id="wiki-main-title">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        {{title}}
						{% if sub_title != 0 %}
                            {{sub_title}}
                        {% endif %}
                    </h1>
					<h2 class="subtitle">
						{% if last_edit == 0 %}
							Powered by openNAMU
						{% else %}
							{{last_edit}}에 마지막으로 수정됐습니다.
						{% endif %}
                </div>
            </div>
            <div class="hero-foot">
                <div class="container">
                    <div class="tabs is-left is-boxed" id="wiki-article-menu">
                        <ul id="wiki-menu">
                            {% set special = ["최근 편집", "최근 토론", "차단 기록", "사용자 목록", "관리자 목록", "권한 사용 목록", "관리 도구"] %}
                            {% if title in special %}
				<li class="is-active">
					<a href="#">
						<span class="icon">
							<i class="fas fa-cogs"></i>
						</span>
						<span class="wiki-article-menu-text is-hidden-touch"> 특수 문서</span>
					</a>
				</li>
				{% else %}
					<ul id="wiki-menu">
						<li{% if last_edit != 0 %} class="is-active"{% endif %}>
							<a href="/w/{{title}}">
								<span class="icon">
									<i class="fas fa-eye"></i>
								</span>
								<span class="wiki-article-menu-text is-hidden-touch"> 읽기</span>
							</a>
						</li>
						<li{% if sub_title == '(편집)' %} class=is-active{% endif %}>
							<a href="/edit/{{title}}" class="edit-anchor">
								<span class="icon">
									<i class="fas fa-edit"></i>
								</span>
								<span class="wiki-article-menu-text is-hidden-touch"> 편집</span>
							</a>
						</li>
						<li{% if sub_title == '(토론)' or sub_title == '(토론 목록)' or sub_title == '(합의된 토론)' or sub_title == '(닫힌 토론)' %} class=is-active{% endif %}>
										<a href="/topic/{{title}}">
										<span class="icon">
										<i class="far fa-comments"></i>
										</span>
										<span class="wiki-article-menu-text is-hidden-touch"> 토론</span>
										</a>
									</li>
									<li{% if sub_title == '(이동)' %} class=is-active{% endif %}>
										<a href="/move/{{title}}">
										<span class="icon">
										<i class="fas fa-arrow-right"></i>
										</span>
										<span class="wiki-article-menu-text is-hidden-touch"> 이동</span>
										</a>
									</li>
									<li{% if sub_title == '(삭제)' %} class=is-active{% endif %}>
										<a href="/delete/{{title}}">
										<span class="icon">
										<i class="far fa-trash-alt"></i>
										</span>
										<span class="wiki-article-menu-text is-hidden-touch"> 삭제</span>
										</a>
									</li>
									<li{% if sub_title == '(역링크)' %} class=is-active{% endif %}>
										<a href="/xref/{{title}}">
										<span class="icon">
										<i class="fas fa-random"></i>
										</span>
										<span class="wiki-article-menu-text is-hidden-touch"> 역링크</span>
										</a>
									</li>
									<li{% if sub_title == '(역사)' %} class=is-active{% endif %}>
										<a href="/history/{{title}}" class="history-anchor">
										<span class="icon">
										<i class="fas fa-history"></i>
										</span>
										<span class="wiki-article-menu-text is-hidden-touch"> 역사</span>
										</a>
									</li>
									<li{% if sub_title == '(ACL)' %} class=is-active{% endif %}>
										<a href="/acl/{{title}}">
										<span class="icon">
										<i class="fas fa-key"></i>
										</span>
										<span class="wiki-article-menu-text is-hidden-touch"> ACL</span>
										</a>
									</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
		<section class="section">
            <div class="container">
				<div id="fix_data" class="col-md-10 col-md-offset-1 mar-b-30">
                	{{data|safe}}
				</div>
            </div>
		</section>
        <footer class="footer">
            <div class="container">
                <div class="contents has-text-centered">
                    <p id="bottom">
                        {{license|safe}}
                        <br><br>
                        <a href="https://github.com/daol-project/Buma-skin">Buma</a> | <a href="https://github.com/openNAMU/openNAMU">openNAMU</a>
                    </p>
                </div>
            </div>
        </footer>
        <div id="nav_bar">
            <a id="go_top" href="#top">
                <div class="fas fa-arrow-up"></div>
            </a>
            <a id="go_bottom" href="#bottom">
                <div class="fas fa-arrow-down"></div>
            </a>                  
        </div>
		<script>window.addEventListener('DOMContentLoaded', skin_set);</script>
    </body>
</html>
